/* CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS */
.card {
  background: linear-gradient(-45deg,
      rgba(182, 41, 41, 0.242) 100px,
      transparent 0);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  height: 400px;
  padding: 10px 15px 15px;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 230px;
<<<<<<< HEAD
}

=======
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  height: 440px;
  width: 250px;
  font-size: 15px;
}
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf

.card-h1 {
  font-size: 13px;
  letter-spacing: 2.5px;
  margin: 5px 0 15px;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
}

.card-h2 {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.card-p {
  font-size: 10px;
  font-weight: 300;
  line-height: 19px;
  margin: 5px auto 5px;
  width: 100%;
  text-align: justify;
  flex-grow: 1;
}


.card-img {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.card-botones {
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.card-boton {
  width: 25px;
  margin-left: 25px;
}

<<<<<<< HEAD
.card-botones:hover {
  transform: scale(1.1);

}

.imagen_1 {
=======
.imagen_Eduardo {
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
<<<<<<< HEAD
  background-image: url(../src/fotos-team/Eduardo.jpg);
=======
  background-image: url(/src/fotos-team/Eduardo.jpg);
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

<<<<<<< HEAD

.card .imagen_1:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(../src/fotos-team/eduardo-galleta.png);
  background-size: cover;
  background-position: center;
  background-position-y: center;
}

.imagen_2 {
=======
.card .imagen_Eduardo:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/eduardo-galleta.png);
}

.imagen_Paola {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Paola.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Paola:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletasPao.jpg);
}


.imagen_Daniel{
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
<<<<<<< HEAD
  background-image: url(../src/fotos-team/Paola.jpg);
=======
  background-image: url(/src/fotos-team/fotodaniel.jpeg);
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

<<<<<<< HEAD
.card .imagen_2:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(../src/fotos-team/galletasPao.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
}

.imagen_3 {
=======
.card .imagen_Daniel:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletadaniel.jpg);
}


.imagen_Melanie{
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Melanie.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Melanie:hover{
  transform: translate(0px);
  transition: 300ms;
   box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletaMel.jpg);
 }

 .imagen_Vane {
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
<<<<<<< HEAD
  background-image: url(../src/fotos-team/fotodaniel.jpeg);
=======
  background-image: url(/src/fotos-team/Vane.jpeg);
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}
<<<<<<< HEAD
.card .imagen_3:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(../src/fotos-team/galletadaniel.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
}
.imagen_4 {
=======

.card .imagen_Vane:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletasVane.jpeg);

}

.imagen_Ana {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Ana.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Ana:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletasAna.jpg);
}


.imagen_Jezer {
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
<<<<<<< HEAD
  background-image: url(../src/fotos-team/Melanie.jpg);
=======
  background-image: url(/src/fotos-team/fotoJezer.jpg);
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}
<<<<<<< HEAD
.card .imagen_4:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(../src/fotos-team/galletamel.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
}




=======

.card .imagen_Jezer:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletaJezer.jpg);
  
}

.imagen_Luis {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/fotoLuisLeobardo.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Luis:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletaLuis.png); 
}
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf


/* CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS */


/* HEADER  */
header {
  font-family: "Comic Neue";
}


.custom-bg-rosa {
  background-color: #ffdad8;
  /* Color rosa claro en hexadecimal */
}


.custom-btn-color1 {
  background-color: #ff1493;
  /* Color rosa intenso en hexadecimal */
}

.custom-btn-color1 span {
  width: 50px;
  height: auto;
}


/* HEADER */
/* FOOTER  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
<<<<<<< HEAD
.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.footer {
  background-color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


=======
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-left: 10px;
}
<<<<<<< HEAD




.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
=======
.col{
  justify-content: center;
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
}


.barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white
}


.logo img {
  max-width: 100px;
  height: auto;
  align-self: flex-start;
}


.navegacion {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}


.seccion {
  flex: 1;
  margin: 10px;
  text-align: center;
}


h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff2e73;
}
/* Ajustar el tamaño del botón desplegable */
.nav-link.dropdown-toggle.badge.custom-btn-color1 {
  font-size: 1rem; /* Ajusta el tamaño del texto */
  padding: 10px 20px; 
}

.nav-link.dropdown-toggle.badge.custom-btn-color1 span {
  font-size: 1rem; /* Ajusta el tamaño del texto del span */
}


a {
  color: #ff9183;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-weight: 650;
}


a:hover {
  text-decoration: underline;
}

<<<<<<< HEAD





@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }


=======
@media (max-width: 768px) {
 
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
  .barra {
    flex-direction: column;
    text-align: center;
  }


  .navegacion {
    flex-direction: column;
    align-items: center;
  }


  .seccion {
    margin: 10px 0;
  }
}


<<<<<<< HEAD
/* FOOTER  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
=======

/* FOOTER  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* Carousel */

.container-carousel {
  max-width: 500px;
  margin: 0 auto;

}
>>>>>>> 024a1112bd194f4697335160b440508dea375eaf
